.container-fluid.main{
	position: relative; /* To make the navbar positions relative to this container */
	padding: 0;
  }
  
  .navbar-default {
	background-image: none;
	background-color: transparent; /* Make the menu become transparent */
	border-radius: 0px;
	border: 0;
	box-shadow: none;
	padding: 10px;
	position: absolute; /* Make the menu out of the document flow so it can placed anywhere without disturbing other widgets */
	top: 0;
	left: 0;
	right: 0;
	z-index: 10; /* If you delete this line, your menu link won't be clicked because it is behind the background. Applying this code bring the menu in front of the background */
  }
  
  .navbar-default .navbar-brand {
	font-family: Verdana;
	color: #ffffff;
	font-size: 20px;
  }
  
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
	color: #ffffff;
	background-color: transparent;
  }
  
  .navbar-default .navbar-nav > li > a {
	color: #ffffff;
  }
  
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
	background-color: transparent;
  }
  
  .navbar-default .navbar-toggle {
	border-color: transparent;
  }
  
  .navbar-default .navbar-toggle:hover {
	background-color: transparent;
  }
  
  .navbar-default .navbar-toggle:focus {
	background-color: transparent;
  }
  
  .navbar-default .navbar-toggle .icon-bar {
	background-color: #ffffff;
  }
  
  .carousel .background {
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 700px;
  }
  
  @media (max-width:991px) {
	.carousel .background {
	  background-size: cover; /* To make the background image looks good */
	}
  }
  
  .carousel .background.a {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://static.pexels.com/photos/92090/pexels-photo-92090-large.jpeg");
  }
  
  .carousel .background.b {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://static.pexels.com/photos/93750/pexels-photo-93750-large.jpeg");
  }
  
  .carousel .background.c {
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://static.pexels.com/photos/76827/bahia-ocean-bay-boat-76827-large.jpeg");
  }
  
  .carousel-fade .carousel-inner .item {
	opacity: 0;
	transition: opacity 0.5s; /* The 0.5s describes the duration to make the opacity from 0 to 1 */
  }
  
  .carousel-fade .carousel-inner .active {
	opacity: 1;
  }
  
  /* CSS Hack to trigger GPU for smooth transition */
  @media all and (transform-3d),
  (-webkit-transform-3d) {
	.carousel-fade .carousel-inner > .item.next,
	.carousel-fade .carousel-inner > .item.active.right {
	  opacity: 0;
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
	.carousel-fade .carousel-inner > .item.prev,
	.carousel-fade .carousel-inner > .item.active.left {
	  opacity: 0;
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
	.carousel-fade .carousel-inner > .item.next.left,
	.carousel-fade .carousel-inner > .item.prev.right,
	.carousel-fade .carousel-inner > .item.active {
	  opacity: 1;
	  -webkit-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	}
  }
  /* CSS Hack to trigger GPU for smooth transition */
  
  .covertext {
	position: absolute; /* To make the div to be place anywhere. It is out of the document flow */
	top: 200px; /* The distance between the div with the top of document */
	left: 0px; /* Make the div full width */
	right: 0px; /* Make the div full width */
  }
  
  .title {
	font-family: Verdana;
	font-weight: 600;
	font-size: 60px;
	color: #ffffff;
	text-align: center;
  }
  
  .subtitle {
	font-family: Verdana;
	font-size: 23px;
	color: #ffffff;
	text-align: center;
  }
  
  .explore {
	text-align: center;
	margin-top: 10px;
  }
  
  .explore .btn-lg,
  .explore .btn-lg:hover {
	border-radius: 30px;
	padding: 15px 25px;
	font-size: 22px;
	background-image: none;
	background-color: #FF4000;
	border-color: #FF4000;
	color: #ffffff;
  }
  
  .btn,
  .btn:hover {
	border-radius: 0px;
	background-image: none;
	background-color: #FF4000;
	border-color: #FF4000;
	color: #ffffff;
	margin-bottom: 20px;
	box-shadow: none;
	outline: none;
  }
  
  .btn:focus,
  .btn:active:focus,
  .btn.active:focus,
  .btn.focus,
  .btn:active.focus,
  .btn.active.focus {
	color: #ffffff;
	outline: none;
  }

  /*Testimonial*/

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

  * {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	  font-family: 'Poppins', sans-serif
  }
 
  body {
	  background: linear-gradient(to right, #101c81, #2a6ba3);
	  min-height: 100vh
  }
 
  .owl-carousel .owl-item {
	  transition: all 0.3s ease-in-out
  }
 
  .owl-carousel .owl-item .card {
	  padding: 30px;
	  position: relative
  }
 
  .owl-carousel .owl-stage-outer {
	  overflow-y: auto !important;
	  padding-bottom: 40px
  }
 
  .owl-carousel .owl-item img {
	  height: 200px;
	  object-fit: cover;
	  border-radius: 6px
  }
 
  .owl-carousel .owl-item .card .name {
	  position: absolute;
	  bottom: -20px;
	  left: 33%;
	  color: #101c81;
	  font-size: 1.1rem;
	  font-weight: 600;
	  background-color: aquamarine;
	  padding: 0.3rem 0.4rem;
	  border-radius: 5px;
	  box-shadow: 2px 3px 15px #3c405a
  }
 
  .owl-carousel .owl-item .card {
	  opacity: 0.2;
	  transform: scale3d(0.8, 0.8, 0.8);
	  transition: all 0.3s ease-in-out
  }
 
  .owl-carousel .owl-item.active.center .card {
	  opacity: 1;
	  transform: scale3d(1, 1, 1)
  }
 
  .owl-carousel .owl-dots {
	  display: inline-block;
	  width: 100%;
	  text-align: center
  }
 
  .owl-theme .owl-dots .owl-dot span {
	  height: 20px;
	  background: #2a6ba3 !important;
	  border-radius: 2px !important;
	  opacity: 0.8
  }
 
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
	  height: 13px;
	  width: 13px;
	  opacity: 1;
	  transform: translateY(2px);
	  background: #83b8e7 !important
  }
 
  @media(min-width: 480.6px) and (max-width: 575.5px) {
	  .owl-carousel .owl-item .card .name {
		  left: 24%
	  }
  }
 
  @media(max-width: 360px) {
	  .owl-carousel .owl-item .card .name {
		  left: 30%
	  }
  }

/*Alianzas*/

@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
$main-green: #79dd09 !default;
$main-green-rgb-015: rgba(121, 221, 9, 0.1) !default;
$main-yellow: #bdbb49 !default;
$main-yellow-rgb-015: rgba(189, 187, 73, 0.1) !default;
$main-red: #bd150b !default;
$main-red-rgb-015: rgba(189, 21, 11, 0.1) !default;
$main-blue: #0076bd !default;
$main-blue-rgb-015: rgba(0, 118, 189, 0.1) !default;

/* This pen */
body {
	font-family: "Baloo 2", cursive;
	font-size: 16px;
	color: #ffffff;
	text-rendering: optimizeLegibility;
	font-weight: initial;
}

.dark {
	background: #110f16;
}


.light {
	background: #f3f5f7;
}

a, a:hover {
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
	margin: 2rem 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;

	&.dark {
		background-color: #18151f;
	}
	&.light {
		background-color: #e1e5ea;
	}
	
	.t-dark {
		color: #18151f;
	}
	
  a {
    color: inherit;
  }
	
	h1,	.h1 {
		margin-bottom: 0.5rem;
		font-weight: 500;
		line-height: 1.2;
	}
	
	.small {
		font-size: 80%;
	}

  .postcard__title {
    font-size: 1.75rem;
  }

  .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }

  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
		padding: 0;
    justify-content: center;

    .tag__item {
      display: inline-block;
      background: rgba(83, 83, 83, 0.4);
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      user-select: none;
      transition: background-color 0.3s;

      &:hover {
        background: rgba(83, 83, 83, 0.8);
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }

  &:hover .postcard__bar {
    width: 100px;
  }
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;

    .postcard__title {
      font-size: 2rem;
    }

    .postcard__tagbox {
      justify-content: start;
    }

    .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding: 3rem;
      width: 100%;
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:hover .postcard__img {
      transform: scale(1.1);
    }

    &:nth-child(2n+1) {
      flex-direction: row;
    }

    &:nth-child(2n+0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n+1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n+0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}
@media screen and (min-width: 1024px){
		.postcard__text {
      padding: 2rem 3.5rem;
    }
		
		.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      
      top: -20%;
      height: 130%;
      width: 55px;
    }
	
  .postcard.dark {
		.postcard__text:before {
			background: #18151f;
		}
  }
	.postcard.light {
		.postcard__text:before {
			background: #e1e5ea;
		}
  }
}

/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
	background: $main-green;
	color: black;
}
.green .postcard__title:hover {
	color: $main-green;
}
.green .postcard__bar {
	background-color: $main-green;
}
.green::before {
	background-image: linear-gradient(
		-30deg,
		$main-green-rgb-015,
		transparent 50%
	);
}
.green:nth-child(2n)::before {
	background-image: linear-gradient(30deg, $main-green-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
	background: $main-blue;
}
.blue .postcard__title:hover {
	color: $main-blue;
}
.blue .postcard__bar {
	background-color: $main-blue;
}
.blue::before {
	background-image: linear-gradient(-30deg, $main-blue-rgb-015, transparent 50%);
}
.blue:nth-child(2n)::before {
	background-image: linear-gradient(30deg, $main-blue-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
	background: $main-red;
}
.red .postcard__title:hover {
	color: $main-red;
}
.red .postcard__bar {
	background-color: $main-red;
}
.red::before {
	background-image: linear-gradient(-30deg, $main-red-rgb-015, transparent 50%);
}
.red:nth-child(2n)::before {
	background-image: linear-gradient(30deg, $main-red-rgb-015, transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
	background: $main-yellow;
	color: black;
}
.yellow .postcard__title:hover {
	color: $main-yellow;
}
.yellow .postcard__bar {
	background-color: $main-yellow;
}
.yellow::before {
	background-image: linear-gradient(
		-30deg,
		$main-yellow-rgb-015,
		transparent 50%
	);
}
.yellow:nth-child(2n)::before {
	background-image: linear-gradient(
		30deg,
		$main-yellow-rgb-015,
		transparent 50%
	);
}

@media screen and (min-width: 769px) {
	.green::before {
		background-image: linear-gradient(
			-80deg,
			$main-green-rgb-015,
			transparent 50%
		);
	}
	.green:nth-child(2n)::before {
		background-image: linear-gradient(
			80deg,
			$main-green-rgb-015,
			transparent 50%
		);
	}

	.blue::before {
		background-image: linear-gradient(
			-80deg,
			$main-blue-rgb-015,
			transparent 50%
		);
	}
	.blue:nth-child(2n)::before {
		background-image: linear-gradient(80deg, $main-blue-rgb-015, transparent 50%);
	}

	.red::before {
		background-image: linear-gradient(-80deg, $main-red-rgb-015, transparent 50%);
	}
	.red:nth-child(2n)::before {
		background-image: linear-gradient(80deg, $main-red-rgb-015, transparent 50%);
	}
	
	.yellow::before {
		background-image: linear-gradient(
			-80deg,
			$main-yellow-rgb-015,
			transparent 50%
		);
	}
	.yellow:nth-child(2n)::before {
		background-image: linear-gradient(
			80deg,
			$main-yellow-rgb-015,
			transparent 50%
		);
	}
}
